<%= form_with(model: profile, url: profile_path, local: true, method: :patch, html: { multipart: true }) do |form| %>
  <div class="space-y-4" data-controller="post-form">
    <div class="space-y-2">
      <%= form.label :profile_picture, t('profile.form.profile_picture'), class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <div class="w-16 h-16 mr-4 rounded-full overflow-hidden">
        <% if owner_profile.profile_picture.present? %>
          <img src="<%= owner_profile.profile_picture.sm.url %>" fetchpriority="high" alt="Profile picture" class="w-full h-full" data-post-form-target="imagePreview">
        <% end %>
      </div>
      <%= form.file_field :profile_picture, data: { post_form_target: "fileInput" } %>
      <% if profile.errors[:profile_picture].any? %>
        <div class="text-red-600 text-sm mt-1">
          <%= profile.errors[:profile_picture].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :full_name, t('profile.form.full_name'), class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <%= form.text_field :full_name, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
      <% if profile.errors[:full_name].any? %>
        <div class="text-red-600 text-sm mt-1">
          <%= profile.errors[:full_name].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :short_name, t('profile.form.short_name'), class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <%= form.text_field :short_name, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
      <% if profile.errors[:short_name].any? %>
        <div class="text-red-600 text-sm mt-1">
          <%= profile.errors[:short_name].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :description, t('profile.form.description'), class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <%= form.text_area :description, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
      <% if profile.errors[:description].any? %>
        <div class="text-red-600 text-sm mt-1">
          <%= profile.errors[:description].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :info, t('profile.form.info'), class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <%= form.text_area :info, rows: 20, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
      <% if profile.errors[:info].any? %>
        <div class="text-red-600 text-sm mt-1">
          <%= profile.errors[:info].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="flex justify-end w-full">
      <%= form.submit t('profile.form.submit'), class: 'rounded-md bg-indigo-50 px-2.5 py-1.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100' %>
    </div>
  </div>
<% end %>
