<h1 class="text-2xl font-bold mb-6">Visitors</h1>

<div data-controller="analytics">
  <div>
    <label for="time_period">Select Time Period:</label>
    <select id="time_period" name="time_period" data-analytics-target="timePeriodSelect">
      <%= options_for_select(time_period_options, params[:time_period]) %>
    </select>
  </div>
  <div>
    <label for="group_period">Select Group Period:</label>
    <select id="group_period" name="group_period" data-analytics-target="groupPeriodSelect">
      <%= options_for_select(group_period_options, params[:group_period]) %>
    </select>
  </div>
</div>

<div id="chart-container">
  <%= line_chart @visitors.raw_data %>
</div>

<% analytics_sections = {
  "Referring domains" => @analytics_data[:referring_domains],
  "Entry pages" => @analytics_data[:landing_pages],
  "Countries" => @analytics_data[:countries],
  "Cities" => @analytics_data[:cities],
  "Device Types" => @analytics_data[:device_types]
} %>

<div class="grid grid-cols-2 gap-x-4">
  <% analytics_sections.each do |title, data| %>
    <div>
      <h2 class="text-lg font-bold mt-6">Top <%= title %></h2>
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"><%= title.singularize %></th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Visitors</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% data.each do |item, count| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0 truncate w-32">
                <%= item || 'Unknown' %>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <%= count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
