<%= form_with(model: post, local: true, html: { multipart: true }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="space-y-4">
    <div class="space-y-2">
      <%= form.label :image, 'Cover image', class: 'block text-sm font-medium leading-6 text-gray-900'  %>
      <% if post.image.present? %>
        <div class="mt-2">
          <%= image_tag @post.image.xs.url %>
        </div>
      <% end %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :title, class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <%= form.text_field :title, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
    </div>

    <div class="field">
      <%= form.label :description, class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <%= form.text_area :description, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
    </div>

    <div class="field">
      <%= form.label :markdown, class: 'block text-sm font-medium leading-6 text-gray-900' %>
      <%= form.text_area :markdown, rows: 20, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
    </div>

    <div class="flex justify-end w-full">
      <%= form.submit 'Submit', class: 'rounded-md bg-indigo-50 px-2.5 py-1.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100' %>
    </div>
  </div>
<% end %>
