<% if post.preview_image.present? %>
  <div class="w-full overflow-hidden rounded relative <%= classes %>">
    <picture>
      <source srcset="<%= post.preview_image[:avif] %>" type="image/avif">
      <source srcset="<%= post.preview_image[:webp] %>" type="image/webp">
      <img src="<%= post.preview_image[:url] %>" fetchpriority="high" class="w-full h-full object-cover transition-transform duration-200 transform group-hover:scale-105" alt="<%= post.image_identifier %>">
    </picture>
    <div class="absolute bottom-2 right-2 flex space-x-1">
      <% if user_signed_in? && post.visibility_label %>
        <span class="px-2 py-1 flex items-center space-x-1 rounded text-sm bg-black/50 text-gray-200 backdrop-blur-lg">
          <%= visibility_icon(post) %>
          <span>
            <%= t("posts.visibility_options.#{post.visibility_label}") %>
          </span>
        </span>
      <% end %>
      <span class="px-2 py-1 rounded text-sm bg-black/50 text-gray-200 backdrop-blur-lg">
        <%= pluralize(post.total_unique_views, t('views.one'), t('views.other')) %>
        ·
        <%= time_since_created(post.created_at) %>
      </span>
    </div>
  </div>
<% end %>
