<ul class="grid grid-cols-1 gap-6 w-full">
  <% @posts.each do |post| %>
    <li class="relative">
      <%= link_to post, class: 'group hover:no-underline' do %>
        <%= render partial: 'posts/post_preview_image', locals: { post: post, classes: 'h-48' } %>
        <div class="mt-2">
          <span class="inline text-lg font-semibold group-hover:underline"><%= post.title %></span>
        </div>
        <span class="block "><%= post.description %></span>
      <% end %>
      <% if user_signed_in? %>
        <div class="absolute top-3 right-2">
          <%= render partial: 'posts/edit_link', locals: { post: post } %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
