<% content_for :title, "#{t('posts.edit.title')} – #{@post.title}" %>

<div class="flex items-center justify-between mb-6">
  <div class="flex space-x-3 items-center">
    <% if @post.translated? %>
      <%= link_to post_path(@post), class: 'inline-flex items-center justify-center rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50' do %>
        <%= heroicon "arrow-uturn-left" %>
      <% end %>
    <% end %>
    <h1 class="text-3xl font-bold"><%= t('posts.edit.heading') %></h1>
  </div>
  <%= link_to t('posts.edit.delete'), @post, method: :delete, data: { confirm: t('posts.edit.confirm_delete') }, class: 'rounded-md bg-red-50 px-2.5 py-1.5 text-sm font-semibold text-red-600 shadow-sm hover:bg-red-100' %>
</div>

<%= render 'form', post: @post %>
