<% content_for :title, I18n.t('blog_title', name: I18n.t('short_name')) %>

<div class="flex items-end justify-between mb-6">
  <h1 class="text-3xl font-bold"><%= I18n.t('blog_title', name: I18n.t('short_name')) %></h1>
  <% if user_signed_in? %>
    <%= link_to 'New Post', new_post_path, class: 'rounded-md bg-indigo-50 px-2.5 py-1.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100' %>
  <% end %>
</div>
<ul class="grid grid-cols-1 gap-6 w-full">
  <% @posts.each do |post| %>
    <li class="relative">
      <%= link_to post, class: 'group hover:no-underline' do %>
        <%= render partial: 'post_image', locals: { post: post, classes: 'h-48' } %>
        <div class="mt-2">
          <span class="inline text-lg font-semibold group-hover:underline"><%= post.title %></span>
        </div>
        <span class="block "><%= post.description %></span>
      <% end %>
      <% if user_signed_in? %>
        <div class="absolute top-3 right-2">
          <%= render partial: 'edit_link', locals: { post: post } %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
