<% content_for :title, I18n.t('blog_title', name: owner_profile.short_name) %>

<div class="flex items-end justify-between mb-6">
  <%= link_to posts_path, class: 'text-3xl font-semibold block flex gap-4 items-center' do %>
    <%= render 'shared/profile_picture', size: 'sm', classes: 'h-16 w-16' %>
    <h1><%= I18n.t('blog_title', name: owner_profile.short_name) %></h1>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to I18n.t('posts.index.new_post'), new_post_path, class: 'rounded-md bg-indigo-50 px-2.5 py-1.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100' %>
  <% end %>
</div>
<%= render 'posts_grid' %>
