<h1 class="text-3xl font-bold mb-12">Jose Alfredo's Blog</h1>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>

<ul class="grid grid-cols-1 gap-6 w-full">
  <% @posts.each do |post| %>
    <li>
      <%= link_to post, class: 'group hover:no-underline' do %>
        <span class="text-sm opacity-70 w-full block text-right mb-2"><%= time_since_created(post.created_at) %></span>
        <% if post.image.present? %>
          <div class="w-full overflow-hidden rounded">
            <%= image_tag post.image.thumb.url, class: 'w-full transition-transform duration-200 transform group-hover:scale-105' %>
          </div>
        <% end %>
        <div class="flex justify-between items-start mt-2">
          <span class="block text-lg font-semibold group-hover:underline"><%= post.title %></span>
        </div>
        <span class="block "><%= post.description %></span>
      <% end %>
      <% if user_signed_in? %>
        <div class="w-full flex justify-end">
          <%= link_to 'Edit', edit_post_path(post) %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
