<% content_for :title, "#{@post.title} – #{I18n.t('blog_title', name: I18n.t('short_name'))}" %>
<% content_for :head do %>
  <meta name="title" content="<%= @post.title %>">
  <meta name="description" content="<%= @post.description %>">

  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= @post.description %>">
  <meta property="og:url" content="<%= post_url(@post) %>">
  <meta property="og:type" content="article">
  <meta property="og:updated_time" content="<%= @post.updated_at.to_i %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:site" content="@j_a_garcia">
  <meta name="twitter:title" content="<%= @post.title %>">
  <meta name="twitter:description" content="<%= @post.description %>">

  <% if @post.og_image.present? %>
    <meta property="og:image" itemprop="image" content="<%= File.join(ENV['DOMAIN'], @post.og_image.url) %>">
    <meta name="twitter:image" content="<%= File.join(ENV['DOMAIN'], @post.og_image.url) %>">
  <% end %>

  <meta name="post-id" content="<%= @post.id %>">

  <% unless user_signed_in? %>
    <%= javascript_import_module_tag 'track_post' %>
  <% end %>
<% end %>

<%= link_to I18n.t('blog_title', name: I18n.t('short_name')), posts_path, class: 'text-2xl font-semibold mb-4 block' %>

<%= render partial: 'posts/post_image', locals: { post: @post, classes: 'h-64 mb-4' } %>

<div class="lg:space-y-4 space-y-3 mb-8">
  <h1 class="text-4xl lg:text-6xl font-bold"><%= @post.title %></h1>
  <p class="text-lg"><%= @post.description %></p>
</div>

<div class="prose"><%= @post.markdown_to_html %></div>

<% if user_signed_in? %>
  <div class="w-full flex justify-end space-x-2">
    <%= link_to 'Edit', edit_post_path(@post), class: 'rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50' %>
  </div>
<% end %>
