<% content_for :title, @post.title %>
<% content_for :head do %>
  <meta name="title" content="<%= @post.title %>">
  <meta name="description" content="<%= @post.description %>">
<% end %>

<%= link_to "Jose Alfredo's Blog", posts_path, class: 'text-2xl font-semibold mb-4 block' %>

<% if @post.image.present? %>
  <%= image_tag @post.image.thumb.url, class: 'w-full rounded mb-4' %>
<% end %>

<div class="space-y-2 mb-8">
  <h1 class="text-6xl font-bold"><%= @post.title %></h1>
  <p><%= @post.description %></p>
</div>

<div class="prose"><%= @post.markdown_to_html %></div>

<%= link_to 'Edit', edit_post_path(@post) if user_signed_in? %>
<%= link_to 'Back', posts_path %>
