<% content_for :title, "#{@post.title} – #{I18n.t('blog_title', name: I18n.t('short_name'))}" %>
<% content_for :head do %>
  <meta name="title" content="<%= @post.title %>">
  <meta name="description" content="<%= @post.description %>">
<% end %>

<%= link_to I18n.t('blog_title', name: I18n.t('short_name')), posts_path, class: 'text-2xl font-semibold mb-4 block' %>

<%= render partial: 'posts/post_image', locals: { post: @post, classes: 'h-64 mb-4' } %>

<div class="space-y-2 mb-8">
  <h1 class="text-4xl lg:text-6xl font-bold"><%= @post.title %></h1>
  <p><%= @post.description %></p>
</div>

<div class="prose"><%= @post.markdown_to_html %></div>

<%= link_to 'Edit', edit_post_path(@post) if user_signed_in? %>
