<div class="space-y-4">
  <h1 class="text-3xl font-bold w-full">
    <%= @profile.full_name %>
  </h1>
  <div class="">
    <div class="inline w-16 h-16 mr-4 float-left rounded-full overflow-hidden">
      <% if @profile.profile_picture.present? %>
        <picture>
          <% if @profile.profile_picture.sm.avif.present? %>
            <source srcset="<%= @profile.profile_picture.sm.avif.url %>" type="image/avif">
          <% end %>
          <% if @profile.profile_picture.sm.webp.present? %>
            <source srcset="<%= @profile.profile_picture.sm.webp.url %>" type="image/webp">
          <% end %>
          <img src="<%= @profile.profile_picture.sm.url %>" fetchpriority="high" class="w-full h-full object-cover transition-transform duration-200 transform group-hover:scale-105" alt="Profile picture>">
        </picture>
      <% end %>
    </div>
    <div class="prose flex-0 inline">
      <%= @profile.description_to_html %>
    </div>
  </div>
  <article class="prose">
    <%= @profile.info_to_html %>
  </article>
</div>
<div class="mt-12 space-y-4">
  <h2 class="text-xl font-bold"><%= t('recent_posts') %></h2>
  <%= render 'posts/posts_grid' %>
  <div class="w-full flex justify-end">
    <%= link_to t('show_all'), posts_path, class: active_class(posts_path) %>
  </div>
</div>
