<div class="space-y-4">
  <div class="flex items-start space-x-4">
    <h1 class="text-3xl font-bold w-full">
      <%= owner_profile.full_name %>
    </h1>
  </div>
  <div>
    <div class="inline w-16 h-16 mr-4 float-left rounded-full overflow-hidden">
      <% if owner_profile.profile_picture.present? %>
        <picture>
          <% if owner_profile.profile_picture.sm.avif.present? %>
            <source srcset="<%= owner_profile.profile_picture.sm.avif.url %>" type="image/avif">
          <% end %>
          <% if owner_profile.profile_picture.sm.webp.present? %>
            <source srcset="<%= owner_profile.profile_picture.sm.webp.url %>" type="image/webp">
          <% end %>
          <img src="<%= owner_profile.profile_picture.sm.url %>" fetchpriority="high" alt="<%= t('profile_picture_alt', name: owner_profile.short_name) %>" class="w-full h-full">
        </picture>
      <% end %>
    </div>
    <div class="mb-3 inline-flex space-x-2 items-start">

      <%= link_to connections_path, class: 'shadow-sm inline-flex items-center gap-x-1 rounded-full bg-blue-50 px-2 pr-3 py-1.5 text-xs font-medium text-blue-700' do %>
        <%= heroicon("globe-alt", options: { class: "h-5 w-5" }) %>
        <span class="whitespace-nowrap"><%= t('connections', count: @connections_count) %></span>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to edit_profile_path, class: 'shadow-sm rounded-full p-2 bg-white font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50' do %>
          <%= heroicon("pencil", options: { class: "h-4 w-4" }) %>
        <% end %>
      <% end %>

    </div>
    <div class="prose flex-0 inline">
      <%= owner_profile.description_to_html %>
    </div>
  </div>
  <article class="prose">
    <%= owner_profile.info_to_html %>
  </article>
</div>
<div class="mt-12 space-y-4">
  <h2 class="text-xl font-bold"><%= t('recent_posts') %></h2>
  <%= render 'posts/posts_grid' %>
  <div class="w-full flex justify-end">
    <%= link_to t('show_all'), posts_path, class: active_class(posts_path) %>
  </div>
</div>
