<div class="space-y-4">
  <h1 class="text-3xl font-bold w-full"><%= I18n.t 'full_name' %></h1>
  <div class="">
    <div class="inline w-16 h-16 mr-4 float-left rounded-full overflow-hidden">
      <%= image_tag("headshot.jpg", class: "w-16 h-16") %>
    </div>
    <p class="prose flex-0 inline">
      <%= raw(I18n.t 'description') %>
    </p>
  </div>
  <article class="prose">
    <p>
      <%= raw(I18n.t 'contact') %>
    </p>
  </article>
</div>
<div class="mt-12 space-y-4">
  <h2 class="text-xl font-bold">Recent posts</h2>
  <%= render 'posts/posts_grid' %>
  <div class="w-full flex justify-end">
    <%= link_to 'Show all', posts_path, class: active_class(posts_path) %>
  </div>
</div>
