<% flash.each do |key, message| %>
  <% bg_color, text_color, icon, hover_bg_color, ring_color, ring_offset_color = case key
      when 'alert'
        ['bg-red-50', 'text-red-800', 'text-red-400', 'bg-red-100', 'focus:ring-red-600', 'focus:ring-offset-red-50']
      when 'notice'
        ['bg-green-50', 'text-green-800', 'text-green-400', 'bg-green-100', 'focus:ring-green-600', 'focus:ring-offset-green-50']
      else
        ['bg-blue-50', 'text-blue-800', 'text-blue-400', 'bg-blue-100', 'focus:ring-blue-600', 'focus:ring-offset-blue-50']
      end
  %>
  <div class="rounded-md <%= bg_color %> p-4 mb-4 flash-message">
    <div class="flex">
      <div class="ml-3">
        <p class="text-sm font-medium <%= text_color %>"><%= message %></p>
      </div>
      <div class="ml-auto pl-3">
        <div class="-mx-1.5 -my-1.5">
          <button type="button" onclick="closeFlashMessage(this)" class="inline-flex rounded-md <%= bg_color %> p-1.5 <%= icon %> hover:<%= hover_bg_color %> focus:outline-none focus:ring-2 <%= ring_color %> <%= ring_offset_color %>" data-dismiss="alert">
            <span class="sr-only">Dismiss</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.closeFlashMessage = function(button) {
      var flashMessage = button.closest(".flash-message");
      if (flashMessage) {
        flashMessage.remove();
      }
    };
  });
</script>
