<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "José Alfredo García García de León – Full-stack developer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <meta property="og:locale" content="<%= locale_with_territory %>" />
    <% I18n.available_locales.each do |locale| %>
      <% if locale != I18n.locale %>
        <meta property="og:locale:alternate" content="<%= locale_with_territory(locale) %>" />
      <% end %>
    <% end %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if user_signed_in? %>
      <%= javascript_import_module_tag 'admin' %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main class="container max-w-xl mx-auto mt-8 px-5">
      <%= render 'layouts/flash_notifications' %>
      <%= yield %>
    </main>
  </body>
</html>
