<!DOCTYPE html>
<html>
  <head>
    <title>José Alfredo García García de León – Full-stack developer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:alert] %>
      <div class="alert alert-warning">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <nav class="flex justify-end space-x-4 p-3 px-5">
      <%= link_to 'About', '/' %>
      <%= link_to 'Blog', posts_path %>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path %>
      <% end %>
    </nav>
    <main class="container max-w-xl mx-auto mt-16 px-5">
      <%= yield %>
    </main>
  </body>
</html>
