<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : owner_profile&.full_name %></title>

    <% if owner_profile.present? %>
      <meta name="description" content="<%= content_for?(:description) ? yield(:description) : owner_profile.plain_description %>">
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:locale" content="<%= locale_with_territory %>" />
    <% I18n.available_locales.each do |locale| %>
      <% if locale != I18n.locale %>
        <meta property="og:locale:alternate" content="<%= locale_with_territory(locale) %>" />
      <% end %>
      <link rel="alternate" href="<%= File.join(ENV['DOMAIN'], url_for(locale: locale)) %>" hreflang="<%= locale %>">
    <% end %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <% if user_signed_in? %>
      <%= javascript_import_module_tag 'admin' %>
    <% else %>
      <%= javascript_import_module_tag 'tracking' %>
    <% end %>

    <%= yield :head %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main class="container max-w-2xl mx-auto mt-8 px-5 pb-32">
      <%= render 'layouts/flash_notifications' %>
      <%= yield %>
    </main>
  </body>
</html>
